
.idea/
*.iws
*.iml
*.ipr

### Output Folders ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store

### Eclipse & Other Editors (Standard) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
.vscode/